body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
h1 {
    font-weight: 500;
    text-align: left;
    font-size: 3vw;
}
h2{font-weight: 400;}
sup {font-size: small;}
p sup{font-size: xx-small;}

* {box-sizing: border-box}
.navi{
    margin:0;
    padding:0;
    width: 15%;
    background-color: white;
    position: fixed;
    height:100%;
    overflow: auto;
    text-align: center;
}
.navi a{
    display:block;
    color:black;
    padding:16px;
    text-decoration: none;
}
.navi a.active{
    background-color: lightgreen;
    border-radius: 10px;
    color: black;
}
.navi a:hover:not(.active) {
    background-color: lightgray;
    border-radius: 10px;
    color: black;
}
div.content{
    margin-left: 15%;
    padding:1px 16px;
    width:85%;
}


table {
    border-collapse: collapse;
    width: 75%;
}
td {
    border-top: 1px solid lightgreen;
    text-align: center;
    padding:5px;
}
th {
    background-color: lightgreen;
    padding:5px;
    font-weight: 500;
}
tr:hover {
    background-color: rgb(144, 238, 144, 0.2);
}
table a{
    color:inherit;
    font-weight: 400;
}

.footer {
    background-color: lightgreen;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.footer .left {
    order:1;
    flex-grow: 0;
    flex-basis:95%;
}
.footer .right {
    order:2;
    flex-grow: 0;
    flex-shrink: 0;
}
.header {
    position: sticky;
    margin-bottom: 5px;
    top:0;
    background-color: lightgreen;
    border-radius: 10px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}
.header .left {
    order:1;
    flex-grow: 0;
    flex-shrink: 0;

}
.header .right {
    order:2;
    flex-grow: 0;
    flex-basis:95%;
}

@media screen and (max-width: 920px) {
    .navi {
        width:100%;
        height:auto;
        position:relative;
    }
    .navi a{float: left;}
    div.content {
        margin-left:0;
        width: 100%;
    }
    table {
        width: 100%;
    }
    h1 {
        font-size:5vw;
    }
}
@media screen and (max-width:400px) {
    .navi a{
        text-align:center;
        float:none;
    }
    h1 {
        font-size: 7vw;
    }
}